{
    "debug": false, 
    "port": "/tmp/ttyV1", 
    "page_adv_pin": 18, 
    "color": "#53B9E8", 
    "redline_color": "#FF3643", 
    "font_size": 30, 
    "note_font_size": 20, 
    "pages": [
        [
            {
                "sensor": "RPM", 
                "type": "Gauge", 
                "title": "RPM", 
                "x": 101, 
                "y": 240, 
                "w": 200, 
                "h": 200, 
                "min": 0, 
                "max": 5000, 
                "redline": 4000, 
                "numerals": true, 
                "scale_step": 1000, 
                "scale_mult": 1000, 
                "buffer_size": 60
            }, 
            {
                "sensor": "THROTTLE_POS", 
                "type": "Bar_Horizontal", 
                "title": "Throttle Position", 
                "x": 7, 
                "y": 8, 
                "w": 400, 
                "h": 60, 
                "min": 0, 
                "max": 100, 
                "redline": null, 
                "numerals": true, 
                "scale_step": null, 
                "scale_mult": 1, 
                "buffer_size": 60
            }, 
            {
                "sensor": "SPEED", 
                "type": "Gauge", 
                "title": "Vehicle Speed", 
                "x": 439, 
                "y": 92, 
                "w": 350, 
                "h": 300, 
                "min": 0, 
                "max": 80, 
                "redline": 60, 
                "numerals": true, 
                "scale_step": 10, 
                "scale_mult": 1, 
                "buffer_size": 60
            }, 
            {
                "sensor": "MAF", 
                "type": "Bar_Horizontal", 
                "title": "Air Flow Rate (MAF)", 
                "x": 7, 
                "y": 75, 
                "w": 400, 
                "h": 60, 
                "min": 0, 
                "max": 655.35, 
                "redline": null, 
                "numerals": true, 
                "scale_step": null, 
                "scale_mult": 1, 
                "buffer_size": 60
            }, 
            {
                "sensor": "COOLANT_TEMP", 
                "type": "Bar_Horizontal", 
                "title": "Engine Coolant Temperature", 
                "x": 4, 
                "y": 143, 
                "w": 400, 
                "h": 60, 
                "min": -40, 
                "max": 215, 
                "redline": null, 
                "numerals": true, 
                "scale_step": 50, 
                "scale_mult": 1, 
                "buffer_size": 60
            }
        ]
    ]
}